.section {
    padding: 94px 0;
}

.features__title--hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    justify-content: center;
}

.features-list__item {
    width: 275px;
}

.features-list__item+.features-list__item {
    margin-left: 30px;
}

.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: $light-grey-color;
}

.features-list__title {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.features-list__description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $grey-color;
}