.footer-social-net-cont {
    margin-left: auto;
}

.footer-social-net-cont__title {
    align-self: flex-end;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: $white-color;
}

.footer-social-net-list {
    display: flex;
}

.footer-social-net-list__item {
    margin-left: 10px;

    &:nth-child(1) {
        margin-left: 0;
    }

    &:nth-child(4) {
        margin-right: 0;
    }
}

.footer-social-net-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    color: $white-color;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms $transition-timing-function;

    &:hover,
    :focus {
        background-color: $light-blue-txt-color;
    }

    &:active {
        background-color: $dark-blue-txt-color;
        fill: $dark-white-color;
    }
}

.footer-social-net-list__icon {
    height: 20px;
    width: 20px;
    fill: $current-svg-color;
}
