$main-txt-color: #212121;
$dark-blue-txt-color: #0f4877;
$light-blue-txt-color: #2196F3;
$medium-light-blue-color: #188ce8;
$grey-color: #757575;
$white-color: #ffffff;
$dark-white-color: #cecece;
$dark-grey-color: #2F303A;
$light-grey-color: #f5f4fA;
$container-width: 1200px;
$svg-color: #afb1b8;
$current-svg-color: currentColor;
$black-color: #000000;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$overlay-potfolio-card-bg-color: rgba(33, 150, 243, 0.9);
